h1 { text-align: center }

.game {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: #fa5fc6;
    color: #fff;
    border: 6px solid #eb029d;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
}

.game > div {
    border: 6px solid #eb029d;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    border: 5px solid #eb029d;
    background-color: #fa5fc6;
    color: white;
    margin-top: 30px;
    margin-left: 830px;
    padding: 10px 20px
  }
  
  .game > div.winner {
    background: yellow;
  }
  
  .game > div.winner > span {
    color: blue;
  }
  
  @media (min-width: 600px) {
    .game {
      width: 600px;
      height: 600px;
      border-radius: 10px;
      border: 6px solid #fa5fc6;
    }
  
    .game>div {
      border-radius: 2px;
    }
  }
  
  @media (min-width: 1024px) {
    .btn {
      cursor: pointer
    }
  } 